/* src/pages/HomePage.css */
.homepage {
    padding: 20px;
    background-color: #141414;
    color: white;
  }
  
  .homepage .slider {
    margin-bottom: 30px;
  }
  
  .homepage .movie-lists {
    margin-top: 20px;
  }
  
  /* src/pages/MoviePage.css */
  .movie-page {
    padding: 20px;
    background-color: #141414;
    color: white;
  }
  
  .movie-page .movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-page .movie-details img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .movie-page .movie-info {
    text-align: center;
  }
  
  .movie-page .movie-info h2 {
    margin-bottom: 10px;
  }
  
  .movie-page .movie-info p {
    margin-bottom: 5px;
  }
  