/* src/pages/MoviePage.css */
.movie-page {
    padding: 20px;
    background-color: #141414;
    color: white;
  }
  
  .movie-page .player-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .movie-page .movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .movie-page .movie-details img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .movie-page .movie-info {
    text-align: center;
  }
  
  .movie-page .movie-info h2 {
    margin-bottom: 10px;
  }
  
  .movie-page .movie-info p {
    margin-bottom: 5px;
  }
  