/* src/components/Header.css */
.header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #141414;
  }
  
  .logo {
    color: #e50914;
    font-size: 24px;
    text-decoration: none;
  }
  
  .search-input {
    margin-left: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  