/* src/components/MovieCard.css */
.movie-card {
    position: relative;
    margin: 10px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .movie-card img {
    width: 100%;
    border-radius: 5px;
    transition: opacity 0.3s;
  }
  
  .movie-card h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 18px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card:hover img {
    opacity: 0.7;
  }
  
  .movie-card:hover h3 {
    opacity: 1;
  }
  