/* src/components/MovieList.css */
.movie-list {
    padding: 20px;
  }
  
  .movie-list h2 {
    color: white;
    margin-bottom: 10px;
  }
  
  .movie-list__movies {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 20px;
  }
  
  .movie-list__movies::-webkit-scrollbar {
    display: none;
  }
  
  .movie-list__movies {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  