/* src/components/Player.css */
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .player iframe {
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .player-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .server-selector {
    display: flex;
    margin-bottom: 10px;
  }
  
  .server-selector button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .server-selector button:hover {
    background-color: #f40612;
  }
  
  .season-episode-selector {
    display: flex;
    margin-top: 10px;
  }
  
  .season-episode-selector select {
    background-color: #141414;
    color: white;
    border: 1px solid #e50914;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  