/* src/components/Slider.css */
.slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }
  
  .slide {
    min-width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
  }
  